## Package Requirements

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

## Data preparation

In [20]:
#Reading in the dataset

df = pd.read_csv('/content/fraud_prediction.csv')

In [21]:
df.head()

,Unnamed: 0,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,type_0,type_1,type_2,type_3,type_4
0,0,1.0,9839.64,170136.0,160296.36,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1,1.0,1864.28,21249.0,19384.72,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,2,1.0,181.00,181.0,0.00,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,3,1.0,181.00,181.0,0.00,21182.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
4,4,1.0,11668.14,41554.0,29885.86,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

## Implementing the k-NN Algorithm

In [26]:
a=df.drop('isFraud', axis=1)
a
print(a.values)

[[0.0000000e+00 1.0000000e+00 9.8396400e+03 ... 0.0000000e+00
  0.0000000e+00 1.0000000e+00]
 [1.0000000e+00 1.0000000e+00 1.8642800e+03 ... 0.0000000e+00
  0.0000000e+00 0.0000000e+00]
 [2.0000000e+00 1.0000000e+00 1.8100000e+02 ... 0.0000000e+00
  0.0000000e+00 1.0000000e+00]
 ...
 [5.5937800e+06 3.9400000e+02 1.3035436e+06 ... 0.0000000e+00
  0.0000000e+00 0.0000000e+00]
 [5.5973100e+06 3.9400000e+02 2.0124725e+05 ... 0.0000000e+00
  0.0000000e+00 0.0000000e+00]
 [5.5973110e+06 3.9400000e+02 2.0124725e+05 ... 0.0000000e+00
  0.0000000e+00 0.0000000e+00]]

In [30]:
#Creating the features 

features = df.drop('isFraud', axis = 1).values
target = df['isFraud'].values

[0. 0. 1. ... 1. 1. 1.]

**Splitting the data into training and test sets**

In [31]:
#Splitting the data into training and test sets

X_train, X_test, y_train, y_test = train_test_split(features, target, test_size = 0.2)

In [32]:
# scaling
# apply StandardScaler for iris data set, this is z-score normalization
from sklearn.preprocessing import StandardScaler
X_train_s = X_train.copy()
X_test_s = X_test.copy()
std_scaler = StandardScaler()
X_train_s = std_scaler.fit_transform(X_train)
X_test_s = std_scaler.fit_transform(X_test)

**Building the knn classifier**

In [15]:
# build
knn_classifier = KNeighborsClassifier(n_neighbors=3)

In [16]:
#training
knn_classifier.fit(X_train_s, y_train)

KNeighborsClassifier(n_neighbors=3)

In [33]:
# predict
knn_classifier.predict(X_test_s)

array([0., 0., 0., ..., 0., 1., 0.])

In [34]:
# calculate score
knn_classifier.score(X_test_s, y_test)

0.996378561081603